*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.container{
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-image: url(images/background\ image\ main\ 2.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 50px; */
}
.card{
    width: 80%;
    max-width: 350px;
    max-height: 500px;
    height: 80vh;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.312);
    border: 2px solid rgba(255, 255, 255, 0.543);
    border-radius: 25px;
    padding: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
.card img{
    height: 150px;
    border-radius: 50%;
    margin: 10px;
    transition: all 0.5s;
}
.card img:hover{
    transform: scale(1.1);
}
h2{
    font-size: 30px;
}
p{
    font-size: 20px;
    margin: 10px;
}
.links img{
    height: 45px;
    margin: 20px 12px;
    /* transition: all 0.5s; */
}
.links a img:hover{
    transform: scale(1.5);
}
.btn{
    padding: 15px 20px;
    border-radius: 40px;
    font-size: 30px;
    border: none;
    background-color: transparent;
}
.btn a{
    color: rgb(255, 255, 255);
    font-size: 17px;
    padding: 20px 30px;
    transition: all .2s;
    border-radius: 30px;
    background-color: rgba(23, 23, 23, 0.8);
}
.btn a:hover{
    background-color: rgba(23, 23, 23, 0.4);
}